:root {
    --main-bg-color: rgba(14, 29, 40, 1);
    --main-bg-color-tp: rgba(14, 29, 40, 0);

    --dialog-bg-color: #212f41;
    --dialog-border-color: #30495b;
    --text-color: #fff;
    --text-color-subtle: #eee;

    --shadow-color-strong: #0000006b;
    --shadow-color-medium: #000000a6;
    --shadow-color-light: rgb(0 0 0 / 30%);

    --color-black: black;
    --color-black-opaque: #000000ff;

    --input-bg-color: #0b161e;
    --input-border-color: #223f55;
    --input-border-color-focus: #3b5b72;
    --input-focus-shadow-color: #ffffff30;

    --dialog-button-border-color: #2c668a;
    --dialog-button-text-color: #2c668a;
    --dialog-button-shadow-color: #3d58609c;
    --dialog-button-shadow-color-hover: #ffffffc0;

    --entry-border-color: #30495b;
    --entry-border-color-dupe: #970000;
    --entry-border-color-hover: #fff;

    --badge-bg-color: #29262b;
    --badge-dupe-text-color: #f08020;
    --badge-dupe-bg-color: #442200;
    --tag-add-border-color: #ddd;

    --toast-error-bg-color: #552424e3;
    --toast-error-text-color: #ffcdcd;
    --toast-error-border-color: #dd5f5f;
    --toast-info-bg-color: #245537e3;
    --toast-info-text-color: #fff;
    --toast-info-border-color: #3fa271;

    --osd-sections-bg-color: rgb(30 30 30 / 50%);
    --osd-sections-border-color: #595858;
    --osd-section-border-color: #d2d2d2;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: var(--main-bg-color);
    font-family: system-ui, "Open Sans", Arial, sans-serif;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

dialog {
    border-radius: 20px;
    background: var(--dialog-bg-color);
    border-width: 0.5px;
    border-color: var(--dialog-border-color);
    color: var(--text-color);
    box-shadow: 7px 7px 5px 0px var(--shadow-color-strong);
    padding-top: 20px;
    padding-bottom: 20px;
}

dialog:modal {
    user-select: none;
}

#toolbar {
    width: calc(100% - 18px);
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;

    padding-left: 8px;
    margin-bottom: 8px;
}

#completion {
    position: absolute;
    z-index: 30;

    transition: left 0.3s;

    white-space: nowrap;
    overflow: hidden;
    display: none;

    -webkit-mask-image: linear-gradient(to right, var(--color-black-opaque) 0%, var(--color-black-opaque) 80%, transparent 100%);
}

#sort-selection {
    position: absolute;
    z-index: 31;
}

#progress-cancel {
    margin: 0;
    margin-top: -3px;
}

#video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background: var(--color-black);
}

#video-container video {
    width: 100%;
    height: 100%;
}

#osd-container {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;

    opacity: 0;

    z-index: 50;

    display: block;
}

#osd-title {
    position: absolute;

    left: 0px;
    top: 0px;

    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 0 3px var(--color-black);
}

#osd-tags {
    position: absolute;

    right: 0px;
    top: 0px;

    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
}

#osd-fileinfo {
    position: absolute;

    right: 0px;
    top: 48px;

    font-size: 18px;
    font-weight: bold;
}

#osd-fileinfo .badge {
    z-index: 2;
    color: var(--text-color);

    opacity: 1;
    transition: opacity 0.2s linear;

    background: var(--badge-bg-color);
    padding: 2px;
    border-radius: 1em;
    border-width: 0.5px;
    border-style: solid;

    font-size: 14px;

    padding-left: 0.5em;
    padding-right: 0.5em;

    margin-left: 0.25em;
    margin-right: 0.25em;

    box-shadow: 2px 2px 2px var(--shadow-color-light);
}

#osd-tags .tag {
    border-radius: 1em;
    border-width: 0.5px;
    border-style: solid;

    font-variant: small-caps;

    padding-top: 0em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;

    margin-left: 0.25em;
    margin-right: 0.25em;

    box-shadow: 2px 2px 2px var(--shadow-color-light);

    display: inline-block;
}

#osd-info {
    position: absolute;

    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;

    color: var(--text-color);
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 3px var(--color-black);

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: normal;
}

.osd-info-item {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
}

#osd-sections {
    position: absolute;
    left: 40px;
    right: 40px;
    height: 18px;
    bottom: 40px;

    padding: 6px;

    backdrop-filter: blur(24px);
    background: var(--osd-sections-bg-color);

    border: 1px solid var(--osd-sections-border-color);
    border-radius: 6px;
}

.osd-section {
    position: absolute;
    top: 4px;
    bottom: 4px;

    border: 1px solid var(--osd-section-border-color);
    border-radius: 4px;

    color: var(--text-color);
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: left;


    white-space: nowrap;
    overflow: hidden;
}

#gallery-container {
    user-select: none;
    position: absolute;
    left: 20px;
    right: 0px;
    top: 10px;
    bottom: 0px;
    vertical-align: top;
    z-index: 10;
}

#gallery-view {
    height: calc(100% - 40px);
    overflow-y: auto;
}

#initial-view {
    color: var(--text-color);
    position: absolute;

    left: 40px;
    right: 40px;
    top: 40px;
    bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#initial-open-folder {
    width: 64px;
    height: 64px;

    background: url(./assets/folder-open.svg) no-repeat;
    background-size: 64px 64px;

    border-style: none;

    outline-style: none;
    outline-width: 1px;

    opacity: 1;
    cursor: pointer;
}

#initial-text {
    width: 400px;
}

.scroll-gradient {
    position: sticky;
    left: 0px;
    width: 100%;
    height: 40px;
    z-index: 10;
    transition: opacity 0.2s linear;
    pointer-events: none;
}

#top-gradient-mask {
    top: 0px;
    opacity: 0;
    background: linear-gradient(
        var(--main-bg-color) 0%,
        var(--main-bg-color-tp) 100%
    );
}

#bottom-gradient-mask {
    bottom: 0px;
    opacity: 0;
    background: linear-gradient(
        var(--main-bg-color-tp) 0%,
        var(--main-bg-color) 100%
    );
}

#toolbar button {
    width: 32px;
    height: 32px;
    border-style: none;
    padding: 0;
    outline-style: none;
    outline-width: 1px;
    opacity: 1;
    cursor: pointer;
}

#toolbar span {
    color: var(--text-color);
    font-weight: 600;
}

#toolbar button:hover {
    opacity: 0.7;
}

#toolbar button:active {
    opacity: 0.5;
}

#toolbar button:disabled {
    opacity: 0.3;
}

#toolbar button.disabled {
    opacity: 0.3;
}

#toolbar button.disabled:hover {
    opacity: 0.6;
}

#toolbar button:focus {
    outline-style: dotted;
}

#toolbar input {
    padding: 4px;

    background: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    flex: 1;

    color: var(--text-color);
}

#toolbar input:focus {
    outline: none;

    border: 1px solid var(--input-border-color-focus);
    box-shadow: 0px 0px 4px 1px var(--input-focus-shadow-color);
}

#loop-button {
    background: url(./assets/arrow-loop-icon.svg) no-repeat;
    background-size: 32px 32px;
}

#shuffle-button {
    background: var(--main-bg-color);
    background-size: 32px 32px;
}

#sort-dropdown {
    position: relative;
    display: inline-block;
}

.sort-dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    color: var(--text-color);
    background: var(--main-bg-color);
    border: 1px solid var(--dialog-border-color);
    border-radius: 8px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 7px 7px 5px 0px var(--shadow-color-strong);
    padding: 8px;
    z-index: 30;
}

.show-dropdown {
    display: block;
}

#settings {
    background: url(./assets/cog-icon.svg) no-repeat;
    background-size: 32px 32px;
}

#open-folder {
    background: url(./assets/folder-open.svg) no-repeat;
    background-size: 32px 32px;
}

#clear-search {
    background: url(./assets/backspace-icon.svg) no-repeat;
    background-size: 24px 24px;
    background-position: 3px 3px;
    margin-left: -46px;
    opacity: 0.9;
    visibility: hidden;
}

#save-scene-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
}

.dialog-button {
    border-radius: 4px;
    border: 1px solid var(--dialog-button-border-color);
    background: var(--dialog-bg-color);
    color: var(--dialog-button-text-color);
    box-shadow: 0px 0px 4px 1px var(--dialog-button-shadow-color);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.dialog-button:hover {
    box-shadow: 0px 0px 4px 1px var(--dialog-button-shadow-color-hover);
}

dialog::backdrop {
    background: linear-gradient(0deg, var(--color-black), transparent);
}

#settings-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
}

.default-edit {
    padding: 4px;

    background: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    color: var(--text-color);
}

.default-edit:focus {
    outline: none;

    border: 1px solid var(--input-border-color-focus);
    box-shadow: 0px 0px 4px 1px var(--input-focus-shadow-color);
}

#entries {
    margin-left: 10px;
    column-gap: 20px;
    column-count: 5;
    width: calc(100% - 24px);
    margin-top: -30px;
}

@media (max-width: 1200px) {
    #entries {
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    #entries {
        column-count: 3;
    }
}
@media (max-width: 800px) {
    #entries {
        column-count: 2;
    }
}
@media (max-width: 400px) {
    #entries {
        column-count: 1;
    }
}

.entry {
    margin-bottom: 18px;
    break-inside: avoid-column;
    cursor: pointer;
}

.entry-preview {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    border-color: var(--entry-border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 5px 5px 5px var(--shadow-color-light);
}

.entry-preview[data-dupe="true"] {
    border-color: var(--entry-border-color-dupe);
}

.entry-preview:hover {
    border-color: var(--entry-border-color-hover);
}

.entry-image {
    width: 100%;
    height: auto;
}

.entry-title {
    z-index: 1;
    color: var(--text-color-subtle);
    font-size: 10px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

/* TODO: Merge these two badges */
.duration-badge {
    position: absolute;
    z-index: 2;
    color: var(--text-color);
    right: 5px;
    bottom: 6px;
    opacity: 1;
    transition: opacity 0.2s linear;

    background: var(--badge-bg-color);
    padding: 2px;
    border-radius: 6px;
    border-width: 0.5px;
    border-style: solid;

    font-size: 10px;

    padding-left: 4px;
    padding-right: 4px;

    box-shadow: 2px 2px 2px var(--shadow-color-light);
}

.quality-badge {
    position: absolute;
    z-index: 2;
    color: var(--text-color);
    left: 5px;
    bottom: 6px;
    opacity: 1;
    transition: opacity 0.2s linear;

    background: var(--badge-bg-color);
    padding: 2px;
    border-radius: 6px;
    border-width: 0.5px;
    border-style: solid;

    font-size: 10px;

    padding-left: 4px;
    padding-right: 4px;

    box-shadow: 2px 2px 2px var(--shadow-color-light);
}

.file-size-badge {
    position: absolute;
    z-index: 2;
    color: var(--text-color);
    right: 5px;
    top: 6px;
    opacity: 1;
    transition: opacity 0.2s linear;

    background: var(--badge-bg-color);
    padding: 2px;
    border-radius: 6px;
    border-width: 0.5px;
    border-style: solid;

    font-size: 10px;

    padding-left: 4px;
    padding-right: 4px;

    box-shadow: 2px 2px 2px var(--shadow-color-light);
}

.quality-badge:empty {
    display: none;
}

.duration-badge:empty {
    display: none;
}

.file-size-badge:empty {
    display: none;
}

.tag-container {
    position: absolute;
    z-index: 2;
    color: var(--text-color);
    left: 5px;
    top: 6px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.dupe-badge {
    position: absolute;
    z-index: 2;
    color: var(--badge-dupe-text-color);
    left: 5px;
    top: 6px;
    opacity: 1;
    transition: opacity 0.2s linear;

    background: var(--badge-dupe-bg-color);
    padding: 2px;
    border-radius: 6px;
    border-width: 0.5px;
    border-style: solid;

    font-size: 10px;

    padding-left: 4px;
    padding-right: 4px;

    box-shadow: 2px 2px 2px var(--shadow-color-light);
}

.entry-preview:hover > .tag-container {
    opacity: 1;
}

.entry-preview:hover > .duration-badge {
    opacity: 0;
}

.entry-preview:hover > .quality-badge {
    opacity: 0;
}

.entry-preview:hover > .file-size-badge {
    opacity: 0;
}

.tag-add {
    background: var(--badge-bg-color);
    border-radius: 6px;
    font-variant: small-caps;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    border: 0.5px solid var(--tag-add-border-color);

    box-shadow: 2px 2px 2px var(--shadow-color-light);

    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.tag {
    background: var(--badge-bg-color);
    border-radius: 6px;
    border-width: 0.5px;
    border-style: solid;

    font-variant: small-caps;

    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;

    box-shadow: 2px 2px 2px var(--shadow-color-light);

    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.tag-delete {
    font-variant: small-caps;
    pointer-events: all;
    margin-left: 4px;
    cursor: pointer;
}

.gallery_item_loading {
    position: absolute;
    left: 64px;
    top: 40px;
}

.gallery_item:hover .gallery_item_media {
    opacity: 0.5;
}

.gallery_item:active .gallery_item_media {
    opacity: 0.3;
}

.gallery_list_description {
    width: 100%;
    padding: 2px 20px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: normal;
}

#toast-container {
    width: 100%;

    position: absolute;
    bottom: 100px;

    pointer-events: none;

    z-index: 50;
}

#toast {
    width: 400px;

    border-width: 1px;
    border-style: solid;
    border-radius: 12px;

    z-index: 10;
    box-shadow: 2px 2px 2px var(--shadow-color-medium);

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    margin: auto;

    transition: opacity 0.3s linear;
}

#toast[data-kind="error"] {
    background: var(--toast-error-bg-color);
    color: var(--toast-error-text-color);
    border-color: var(--toast-error-border-color);
}

#toast[data-kind="info"] {
    background: var(--toast-info-bg-color);
    color: var(--toast-info-text-color);
    border-color: var(--toast-info-border-color);
}

#toast-msg {
    font-weight: bold;
    flex: 1;
}

#toast-close {
    border-style: none;
    outline-style: none;
    opacity: 0.5;

    cursor: pointer;

    width: 16px;
    height: 16px;

    background: url(./assets/delete-icon.svg) no-repeat;
    background-size: 16px 16px;
}

#toast-close:hover {
    opacity: 0.9;
}

#progress-container {
    width: 400px;
    height: 24px;
    left: calc(50% - 200px);
    bottom: 60px;
    background: var(--toast-info-bg-color);
    color: var(--text-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--toast-info-border-color);
    border-radius: 12px;
    z-index: 10;
    box-shadow: 2px 2px 2px var(--shadow-color-medium);
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px 0px 10px;
    pointer-events: none;
    transition: opacity 0.5s linear;
}

#progress {
    flex: 1;
}

#generator {
    visibility: hidden;
}

#canvas {
    visibility: hidden;
}

video:focus {
    outline: none;
}

#previous-dirs-container {
  flex-direction: column;
  align-items: flex-start;
}

#previous-dirs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: stretch;
}

.previous-dir-button {
  padding: 8px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border: 1px solid var(--dialog-border-color);
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.previous-dir-button:hover {
  background-color: #ffffff7f;
}
